$cMenu: #ffe81c;
$cWhite: white;

.moduleMenuIcon {
  z-index: 5000;
  background-color: unset;
  border: none;
  outline: none in !important;
  cursor: pointer;

  & > span {
    background-color: $cMenu;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.7s;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menuOpen {
  & > span {
    background-color: $cWhite;
    &:nth-child(1) {
      transform: translateY(11px) rotate(135deg);
    }

    &:nth-child(2) {
      transform: translateX(-18px) scaleX(0);
    }

    &:nth-child(3) {
      transform: translateY(-11px) rotate(-135deg);
    }
  }
}

.menuContent {
  width: 60%;
  height: 60%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 80;
  background-color: #353535;
  & > ul {
    font-family: 'splatoon', sans-serif;
    font-size: 35px;
    color: white;
    padding: 20px 10px 0;
  }
  & > ul li {
    list-style: none;
    margin: 1.6em;
  }
  & > ul li p {
    list-style: none;
    color: white;
  }
}
